# Assignment 7: Pandas Fundamentals with Earthquake Data

In this assignment, we will review pandas fundamentals, such as how to

- Open csv files
- Manipulate dataframe indexes
- Parse date columns
- Examine basic dataframe statistics
- Manipulate text columns and extract values
- Plot dataframe contents using
  - Bar charts
  - Histograms
  - Scatter plots

First, import Numpy, Pandas and Matplotlib and set the display options.

In [6]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

Data for this assignment in .csv format downloaded from the [USGS Earthquakes Database](https://earthquake.usgs.gov/earthquakes/search/).  You can search for your own earthquake catalog there, and choose to download in a .csv file format. If you'd prefer to skip making your own earthquake catalog file, one you can use is available at:

http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv

Note: You don't need to download this file. You can open it directly with Pandas.

### 1) Use Pandas' read_csv function directly on this URL to open it as a DataFrame
(Don't use any special options). Display the first few rows and the DataFrame info.

In [7]:
url="http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv"
data=pd.read_csv(url)
data

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.708100,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.130900,0.00,1.33,ml,4.0,171.43,0.342000,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.252800,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.957500,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.692500,10.59,1.34,ml,6.0,285.00,0.043210,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120103,2014-12-01 00:10:16.000,60.963900,-146.762900,14.80,3.80,ml,NaN,NaN,NaN,0.6900,ak,ak11453391,2015-03-24T18:25:07.628Z,"29km SW of Valdez, Alaska",earthquake
120104,2014-12-01 00:09:39.000,58.869100,-154.415900,108.40,2.40,ml,NaN,NaN,NaN,0.6700,ak,ak11453395,2014-12-10T01:04:25.209Z,"102km SSE of Old Iliamna, Alaska",earthquake
120105,2014-12-01 00:09:25.350,38.843498,-122.825836,2.37,0.43,md,8.0,107.00,0.008991,0.0300,nc,nc72358451,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake
120106,2014-12-01 00:05:54.000,65.152100,-148.992000,9.50,0.40,ml,NaN,NaN,NaN,0.6900,ak,ak11453390,2014-12-10T01:03:01.225Z,"57km NW of Ester, Alaska",earthquake
120107,2014-12-01 00:04:05.000,60.227200,-147.024500,2.50,1.60,ml,NaN,NaN,NaN,0.7300,ak,ak11453389,2014-12-09T02:04:46.894Z,"78km WSW of Cordova, Alaska",earthquake

You should have seen that the dates were not automatically parsed into datetime types.

### 2) Re-read the data in such a way that all date columns are identified as dates and the earthquake ID is used as the index

Verify that this worked using the `head` and `info` functions.

In [8]:
url="http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv"
catalog=pd.read_csv(url, parse_dates=[0,12])

catalog = catalog.set_index('id')

In [10]:
print(catalog.time.iloc[0])

2014-01-31 23:53:37

### 3) Use `describe` to get the basic statistics of all the columns

Note the highest and lowest magnitude of earthquakes in the databse.

In [12]:
data.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,38.399579,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,21.938258,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-73.462000,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,34.228917,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,38.805300,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,53.889500,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,86.651400,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

In [ ]:
### 4) Use `nlargest` to get the top 20 earthquakes by magnitude

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nlargest.html

In [30]:
data.nlargest(n=20, columns='mag')

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
37371,2014-04-01 23:46:47.260,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,usc000nzvd,2015-07-30T16:24:51.223Z,"94km NW of Iquique, Chile",earthquake
50562,2014-06-23 20:53:09.700,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,usc000rki5,2015-04-18T21:54:08.699Z,"19km SE of Little Sitkin Island, Alaska",earthquake
36918,2014-04-03 02:43:13.110,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,usc000p27i,2015-06-06T07:31:05.755Z,"53km SW of Iquique, Chile",earthquake
33808,2014-04-12 20:14:39.300,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,usc000phx5,2015-04-18T21:54:27.398Z,"93km SSE of Kirakira, Solomon Islands",earthquake
31496,2014-04-19 13:28:00.810,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,usb000pr89,2015-04-18T21:54:18.633Z,"70km SW of Panguna, Papua New Guinea",earthquake
33537,2014-04-13 12:36:19.230,-11.4633,162.0511,39.00,7.4,mww,NaN,17.0,2.885,1.00,us,usc000piqj,2015-08-13T19:29:13.018Z,"112km S of Kirakira, Solomon Islands",earthquake
95913,2014-10-14 03:51:34.460,12.5262,-88.1225,40.00,7.3,mww,NaN,18.0,1.078,0.70,us,usb000slwn,2015-08-13T19:35:02.679Z,"74km S of Intipuca, El Salvador",earthquake
31850,2014-04-18 14:27:24.920,17.3970,-100.9723,24.00,7.2,mww,NaN,46.0,2.250,1.20,us,usb000pq41,2015-08-13T19:30:39.599Z,"33km ESE of Petatlan, Mexico",earthquake
34318,2014-04-11 07:07:23.130,-6.5858,155.0485,60.53,7.1,mww,NaN,21.0,3.729,0.88,us,usc000pft9,2014-07-01T02:37:56.000Z,"56km WSW of Panguna, Papua New Guinea",earthquake
106285,2014-11-15 02:31:41.720,1.8929,126.5217,45.00,7.1,mww,NaN,18.0,1.397,0.71,us,usc000sxh8,2015-03-20T18:42:02.735Z,"154km NW of Kota Ternate, Indonesia",earthquake
111052,2014-11-01 18:57:22.380,-19.6903,-177.7587,434.00,7.1,mww,NaN,13.0,4.415,0.84,us,usc000stdc,2015-01-20T09:03:09.040Z,"144km NE of Ndoi Island, Fiji",earthquake
97602,2014-10-09 02:14:31.440,-32.1082,-110.8112,16.54,7.0,mww,NaN,22.0,5.127,0.43,us,usb000sk6k,2015-08-13T19:31:44.129Z,Southern East Pacific Rise,earthquake
14025,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,mww,NaN,18.0,7.496,0.83,us,usc000mnvj,2015-01-30T23:03:45.902Z,"272km ESE of Hotan, China",earthquake
37367,2014-04-01 23:57:58.790,-19.8927,-70.9455,28.42,6.9,mww,NaN,119.0,0.828,0.93,us,usc000nzwm,2014-05-29T23:32:13.000Z,"91km WNW of Iquique, Chile",earthquake
39915,2014-05-24 09:25:02.440,40.2893,25.3889,6.43,6.9,mww,NaN,25.0,0.402,0.67,us,usb000r2hc,2015-01-28T09:17:17.266Z,"22km SSW of Kamariotissa, Greece",earthquake
47934,2014-06-29 07:52:55.170,-55.4703,-28.3669,8.00,6.9,mww,NaN,25.0,4.838,0.76,us,usc000rngj,2014-09-26T11:49:45.000Z,"154km NNW of Visokoi Island,",earthquake
50609,2014-06-23 19:19:15.940,-29.9772,-177.7247,20.00,6.9,mww,NaN,35.0,0.751,0.99,us,usc000rkg5,2014-09-19T17:23:16.000Z,"80km SSE of Raoul Island, New Zealand",earthquake
61294,2014-07-21 14:54:41.000,-19.8015,-178.4001,615.42,6.9,mww,NaN,15.0,3.934,0.96,us,usb000ruzk,2014-10-17T21:12:13.000Z,"99km NNE of Ndoi Island, Fiji",earthquake
66278,2014-07-07 11:23:54.780,14.7240,-92.4614,53.00,6.9,mww,NaN,51.0,0.263,1.38,us,usc000rr6a,2015-01-28T13:08:13.282Z,"4km W of Puerto Madero, Mexico",earthquake
78063,2014-08-03 00:22:03.680,0.8295,146.1688,13.00,6.9,mww,NaN,12.0,6.393,0.93,us,usb000rzki,2014-10-29T19:52:55.000Z,Federated States of Micronesia region,earthquake

Examine the structure of the `place` column. The state / country information seems to be in there. How would you get it out?

### 5) Extract the state or country using Pandas [text data functions](https://pandas.pydata.org/pandas-docs/stable/text.html)

Add it as a new column to the dataframe called `country`. Note that some of the "countries" are actually U.S. states.

In [48]:
df = data['place'].copy()
df['place'] = country

print(df)

0         26km S of Redoubt Volcano, Alaska
1                   32km S of Alamo, Nevada
2          12km NNW of North Nenana, Alaska
3                22km S of Cantwell, Alaska
4              10km WNW of Progreso, Mexico
                        ...
120104     102km SSE of Old Iliamna, Alaska
120105          9km WNW of Cobb, California
120106             57km NW of Ester, Alaska
120107          78km WSW of Cordova, Alaska
place                          [data.place]
Name: place, Length: 120109, dtype: object

### 6) Display each unique value from the new column

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html

### 7) Create a filtered dataset that only has earthquakes of magnitude 4 or larger and

### 8) Using the filtered dataset (magnitude > 4), count the number of earthquakes in each country/state. Make a bar chart of this number for the top 5 locations with the most earthquakes

Location name on the x axis, Earthquake count on the y axis

### 9) Make a histogram the distribution of the Earthquake magnitudes

https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.hist.html
https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html

Do one subplot for the filtered and one for the unfiltered dataset.
Use a Logarithmic scale. What sort of relationship do you see?

### 11) Visualize the locations of earthquakes by making a scatterplot of their latitude and longitude

Use a two-column subplot with both the filtered and unfiltered datasets. Color the points by magnitude. Make it pretty

What difference do you note between the filtered and unfiltered datasets?